<?xml version="1.0"?>
<ruleset name="CodeceptionRedirects">
    <description>The code standard for Codeception Redirects.</description>

    <file>./src</file>

    <arg name="extensions" value="php"/>
    <arg name="report" value="full"/>
    <arg name="report" value="summary"/>
    <arg name="report" value="source"/>
    <arg value="sp"/>

    <config name="testVersion" value="7.0-"/>
    <rule ref="PHPCompatibility" />

    <rule ref="PSR2"/>
</ruleset>
